.not-found-page-container {
  margin-top: 10px;
}

.not-found-page-container .body {
  position: absolute;
  top: 60px;
  z-index: -1;
  padding: 5% 0 0 10%;
}

@media only screen and (max-width: 950px) {
  .not-found-page-container .body {
    top: 110px;
    padding: 3% 3% 0 3%;
  }
}
