.search-box-header-container {
  display: flex;
}

.search-box-header-container .logo {
  align-self: center;
  margin: 20px 60px 0 30px;
}

.search-box-header-horizontal-rule {
  position: absolute;
  top: 105px;
  z-index: -1;
  width: 100%;
  align-self: center;
  height: 0.5px;
  background-color: #dee1e5;
}
